# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
coverage/
*.lcov

# IDEs
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/app/*.keystore
android/local.properties
android/app/google-services.json
*.jks
*.keystore

# macOS/iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Pods/
ios/Podfile.lock
macos/Flutter/ephemeral/

# Outputs
*.apk
*.ipa
*.aab
*.log
output.json

# Supabase
supabase/.temp/
supabase/config.toml

# Misc
*.hprof
